@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner&family=Inconsolata:wght@200..900&family=PT+Serif+Caption:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

header{
    width: 100%;
    height: 100px;
}

center{
    width: 100%;
    height: 100px;
}

.navbar{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    /* background-color: red; */
    height: 100%;
    width: 45%;
    align-items: center;
}

.category_btn{
    position: relative;
    font-weight: 500;
    margin-right: 40px;
}

.category_menu{
    display: none;
    position: absolute;
    background: #fffffff1;
    top: 50px;
    left: 0px;
    padding: 10px;
    z-index: 9999;
    width: 150px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.category_menu a{
    margin-bottom: 10px;
}



.visbile{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-list a{
    text-decoration: none;
    color: rgb(15, 12, 12);
    font-weight: 500;
    font-size: 1rem;
    margin-right: 40px;
    cursor: pointer;
    transition-duration: 0.5s;
}



.menu-list a:hover{
    color: #ff5757;

}

.icon{
    height: 100%;
}

.icon img{
    height: 100%;
}

.right{
    display: flex;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    height: 100%;
    width: 220px;
    align-items: center;
    margin-left: 30px;

}

.search form {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: default;
}

.search button{
    left: 2px;
    
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: rgba(35, 187, 172, 0);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.search input{
    background-color: rgba(230, 170, 170, 0);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    height: 90%;
    width: 80%;
    padding: 0px 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.search button:hover{
    background-color: rgb(36, 35, 35);

     i{
        color: white;
    } 
}



.search input:focus{
    /* border-bottom: 2px solid #ff5757; */
    background-color: #cecdcd;

    
}

.btns{
    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.login-btn{
    width: 90px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
}

.log{
    background-color: black;
    
}

.login-btn a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.log a{
    color: white;
}

.menu{
    display: none;
}

.profile{
    display: none;
}

@media (max-width:1139px){
    header{
        height: 80px;
    }

    center{
        height: 80px;
    }

    .menu-list a{
        font-size: 0.9rem;
        margin-right: 20px;
    }

    .search{
        width: 180px;
    }

    .login-btn{
        width: 80px;
        height: 30px;
    }

    .login-btn a{
        font-size: 0.9rem;
    }
}


@media(max-width:1000px){
    .menu-list{
        width: 40%;
    }

    .right{
        width: 50%;
    }
}

@media(max-width:976px){
    .menu-list{
        display: none;
    }

    .menu{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%;
    }

    

    .icon{
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
    }

    .right{
        width: 50%;
    }
}

@media(max-width:898px){
    .right{
        width: 55%;
    }
}

@media(max-width:828px){
    .right{
        width: 60%;
    }
}


@media(max-width:768px){
    .right{
        width: 70%;
    }


}

@media(max-width:650px){
    .right{
        width: 75%;
    }

    .icon{
        width: 25%;
    }

}

@media(max-width:612px){
    .btns{
        display: none;
    }

    .profile{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: black;
    }

    .profile i{
        color: white;
    }

    .right{
        justify-content: flex-end;
        width: 70%;
    }


    .icon{
        width: 30%;
    }
    
    .search{
        margin-right: 30px;
    }
}

@media (max-width:424px){
    .icon img{
        height: 90%;
    }

    .search{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width:375px){
    .search{
        margin-right: 10px;
        margin-left: 0px;
    }

    .icon img{
        margin-left: 5px;
        height: 80%;
    }

    .search input{
        width: 60%;
    }

    .search form{
        justify-content: flex-end;
    }

}

.profile-desk{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 50%;
    
}

.x{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.x a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}



/* ---------------footer------------- */

.footer{
    /* position: relative;
    top: 1050px; */
    padding: 8vh;
    background: linear-gradient(to bottom, #000000, #000000, #000000);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer .footer-col{
    padding-bottom: 40px;
}
.footer h3{
    color: rgba(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}
.footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer li:hover{
    color: rgba(241,240,245);
}
.footer p{
    color: #7b838a;
}
.footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}
.footer .copyright p{
    color: #fff;
}
.footer .copyright .links{
    margin-top: 0px;
}
.footer .copyright .links p{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}
.footer .copyright .links i{
    /* background: linear-gradient(to bottom, #a9e4ee, #78d8e9, #13c6e6); */
    color: white;
    font-size: 30px;
    padding: 10px 13px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer .copyright .links i:hover{
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.profile-desk{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 50%;
    
}

.x{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.x a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.p-link{
    width: 50%;
    background-color: #ffffff73;
    backdrop-filter: blur(6px);
    position: absolute;
    right: 0;
    /* left: 700px; */
    top: 80;
    transition-duration: 0.5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: red; */
    transform: translateX(300px);
    display: none;
    z-index: 9999;

}

.open{
    opacity: 1;
    /* display: block; */
    transform: translateX(0px);
    display: inline-block;
}


.p-link a{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
    color: black;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
}

.m-link{
    width: 50%;
    background-color: #ffffff73;
    backdrop-filter: blur(6px);
    position: absolute;
    left: 0;
    top: 80;
    transition-duration: 0.5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-300px);
    display: none;
    z-index: 9999;
}

.m-link a{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
    color: black;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
}

.mopen{
    opacity: 1;
    /* display: block; */
    transform: translateX(0px);
    display: inline-block;
    /* transition-duration: 4s; */
}

.category_menu a{
    color: rgb(0, 0, 0);
}

.category_menu a:hover{
    color: rgb(0, 0, 0);
}