*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.full{
    width: 100%;
    height: 200vh;
    display: flex;
    
}


.menu{
    background: #ff5454;
    width: 25%;
}

.menu-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 200px; */
    align-items: flex-start;
    padding: 40px;
}

.menu-item a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100px;
}


.content{
    width: 75%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(221, 213, 213);
}

.acc-sec{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: white;
    padding: 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.acc-sec button{
    width: 100px;
    height: 30px;
    border: 1px solid #ff5454;
    color: #ff5454;
    background: white;
    transition-duration: 0.5s;
}

.acc-sec button:hover{
    color: white;
    background: #ff5454;
}

.acc-text{
    height: 90%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.acc-text h2{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
    /* font-family:  serif; */
}

.acc-text p{
    color: grey;
    font-size: 0.9rem;
}

.sec{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;

}

.dp{
    border-radius: 50%;
    height: 50px ;
    width:  50px;
    background: #000;
}

.dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.analytics{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 20px;
}

.analytics div{
    height: 100%;
    width: 30%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center

}

.analytics h2{
    font-weight: 400;
}

.chart-container{
    width: 91%;
    height: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.notifications{
    width: 91%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.listing-container{
    width: 47%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
     
}

.order-container{
    width: 47%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.notifications h2{
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 15%;
    padding-top: 10px;
}

.notifications button{
    width: 100px;
    height: 30px;
    border: 1px solid green;
    color: green;
    background: #ffffff;
    margin-bottom: 30px;
    margin-left: 40px;
    transition-duration: 0.5s;
}

.notifications button:hover{
    color: #ffffff;
    background: green;
}

.orders , .listings{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 40px;
}

.notifications table{
    width: 100%;
}

.notifications thead{
    background: #B82132;
    color: #F6DED8;
}

.notifications tr{
    height: 30px;
}

.notifications td{
    padding-left: 10px;
    font-size: 12px;
    background: #F6DED8;
    /* color: #D2665A; */
}


.products{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;

}



.product-card{
    height: 350px;
    width: 200px;
    background: #ffffff;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    margin: 0px 20px 20px 0px;
}

.img-part{
    width: 100%;
    height: 70%;
    border-bottom: 1px solid black;
}

.img-part img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.text-part{
    width: 100%;
}

.text-part h4{
    margin-top: 5px;
    font-weight: 500;
}

.text-part button{
    width: 47%;
    height: 25px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.3s;
}

.v:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.r:hover{
    background-color: #B82132;
    color: white;
    border: 1px solid #B82132;
}

.search{
    display: flex;
    height: 100%;
    width: 220px;
    align-items: center;


}

.search form {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    cursor: default;
}



.search input{
    background-color: rgba(230, 170, 170, 0);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    height: 90%;
    width: 80%;
    padding: 0px 5px;
    cursor: pointer;
}





.search input:focus{
    border: 1px solid black;

    
}

.p-section{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background: #ffffff;   
    padding: 20px;
    justify-content: space-between;
}

.add__painting-btn{
    display: flex;
    width: 150px;
    height: 40px;
    background: #ff5454;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    font-weight: 500;
}

/* .add__painting input{
    display: none;
} */

#add-painting{
    display: none;
}



.add-painting-form{
    position: absolute;
    display: none;
    width: 90vw;
    height: 100vh;
    top: 5vh;
    left: 5vw;
    background: #F2EFE7;
}

.add__painting input:checked + .add-painting-form{
    display: block;
}

.hide {
    opacity: 0;
    transform: translateX(100%);
    display: none;
}

.order-details-container{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.order_details{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.order-id{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* background: #ffffff; */
}

.order-items-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px   ;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.order_item{
    width: 100%;
    height: 110px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 10px;
    transition-duration: 0.3s;
}

.order_item:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order_item img{
    height: 80px;
    width: 100px;
    object-fit: contain;
}

.order_item a{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.order_item a button{
    width: 70px;
    height: 25px;
    background: #000;
    color: white;
}

.order_summary_container{
    width: 100%;
    height: 400px;
    background: #ffffff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.order_summary_container table{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.action_btns{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action_btns :nth-child(2):hover {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c7c7c7;
    text-decoration: none;
    border: 1px solid black;
    color: #000;
} 

.action_btns :nth-child(2) {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    text-decoration: none;
    border: 1px solid ;
    color: white;
    border: 1px solid green;
}


.custormer_details_container{
    width: 37%;
    height: auto;
    
}

.customer_detail{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.light-text{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.light-text i{
    margin-right: 10px;
}

.address_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 20px;
}


